<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="1.5.10.0" targetFramework="net45" />
  <package id="Castle.Core" version="2.5.1" targetFramework="net45" />
  <package id="CouchbaseNetClient" version="1.2.7" targetFramework="net45" />
  <package id="Hudl.Bifrost" version="1.21.0.0" targetFramework="net45" />
  <package id="Hudl.Common" version="1.4.1" targetFramework="net45" />
  <package id="Hudl.Config" version="1.5.0" targetFramework="net45" />
  <package id="Hudl.Eureka" version="1.6.3.0" targetFramework="net45" />
  <package id="Hudl.Eureka.Heartbeat" version="1.6.1.0" targetFramework="net45" />
  <package id="Hudl.Logging" version="1.4.2.0" targetFramework="net45" />
  <package id="Hudl.Mjolnir" version="1.8.0.0" targetFramework="net45" />
  <package id="Hudl.Multiverse.Core" version="1.30.0.0" targetFramework="net45" />
  <package id="Hudl.Riemann" version="1.2.6.0" targetFramework="net45" />
  <package id="Hudl.RiemannClient" version="1.1.0.0" targetFramework="net45" />
  <package id="Hudl.Stats" version="1.2.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.622" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.5" targetFramework="net45" />
  <package id="SmartThreadPool.dll.hudlcustom" version="2.2.3.3" targetFramework="net45" />
</packages>