<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="1.5.10.0" targetFramework="net45" />
  <package id="Castle.Core" version="2.5.1" targetFramework="net45" />
  <package id="CouchbaseNetClient" version="1.2.7" targetFramework="net45" />
  <package id="Hudl.Bifrost" version="1.21.0.0" targetFramework="net45" />
  <package id="Hudl.Common" version="1.4.1" targetFramework="net45" />
  <package id="Hudl.Config" version="1.5.0" targetFramework="net45" />
  <package id="Hudl.Eureka" version="1.6.3.0" targetFramework="net45" />
  <package id="Hudl.Eureka.Heartbeat" version="1.6.1.0" targetFramework="net45" />
  <package id="Hudl.Logging" version="1.4.2.0" targetFramework="net45" />
  <package id="Hudl.Multiverse.Core" version="1.30.0.0" targetFramework="net45" />
  <package id="Hudl.Riemann" version="1.2.6.0" targetFramework="net45" />
  <package id="Hudl.RiemannClient" version="1.1.0.0" targetFramework="net45" />
  <package id="Hudl.Stats" version="1.2.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.622" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.5" targetFramework="net45" />
  <package id="SmartThreadPool.dll.hudlcustom" version="2.2.3.3" targetFramework="net45" />
  <package id="xunit" version="1.9.1" targetFramework="net45" />
</packages>