<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hudl.Common" version="1.2.0.0" targetFramework="net45" />
  <package id="Hudl.Config" version="1.4.1.0" targetFramework="net45" />
  <package id="Hudl.Riemann" version="1.2.6.0" targetFramework="net45" />
  <package id="Hudl.RiemannClient" version="1.1.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.622" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>