<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.1" targetFramework="net45" />
  <package id="Hudl.Common" version="1.2.0.0" targetFramework="net45" />
  <package id="Hudl.Config" version="1.3.0.0" targetFramework="net45" />
  <package id="Hudl.Riemann" version="1.2.0.0" targetFramework="net45" />
  <package id="Hudl.RiemannClient" version="1.1.0.0" targetFramework="net45" />
  <package id="Hudl.Stats" version="1.2.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.622" targetFramework="net45" />
  <package id="SmartThreadPool.dll.hudlcustom" version="2.2.3.3" targetFramework="net45" />
</packages>